extends layout
block head
  script
    Real.RoomList.init({renderTo:'#roomListDiv',roomList:!{roomList}});
    function login(){
        var id=$("#userName").val();
        $.ajax({
            type:'POST',
            url:'/user/login',
            data:{
                id:id
            },
            success:function(data){
                alert('logged in!'+data);
                var socket=Real.getSocket();
                socket.emit('signIn',data);
            }
        });
    }
    console.log(Real.getSocket().socket);
block content
  .wrap(style='align:center; width:750px; height:500px;')
      .div(style='text-align:center; float:left; width:550px; padding-top:50px;')
         img(src='/images/main2.png')
      .input(style='float:left; width:200px;')
          p
            div(class='input-append')
                input(class='span2', id='userName',type='text')
                button(class='btn btn-success',type='button',onClick='login()')
                    b 로그인

          p
            div(class='input-append')
                input(class='span2',type='text', id='roomName')
                button(class='btn btn-info',name='makeRoom',onClick='Real.RoomList.makeRoom("#roomName")')
                    b 방생성
          div(style='height:360px')
            div(id='roomListDiv', style='height:360px; overflow-y:scroll;')