extends layout
block head
  script
    Real.RoomList.init({renderTo:'#roomListDiv',roomList:!{roomList}});
    function login(){
        var id=$("#userName").val();
        $.ajax({
            type:'POST',
            url:'/user/login',
            data:{
                id:id
            },
            success:function(data){
                alert('logged in!'+data);
                var socket=Real.getSocket();
                socket.emit('signIn',data);
            }
        });
    }
    console.log(Real.getSocket().socket);
block content
  h1= title
  p Welcome to #{title}
  p
    div(class='input-append')
        input(class='span2', id='userName',type='text')
        button(class='btn',type='button',onClick='login()') 로그인

  p
    div(class='input-append')
        input(class='span2',type='text', id='roomName')
        button(class='btn',name='makeRoom',onClick='Real.RoomList.makeRoom("#roomName")') 방생성
  div(id='roomListDiv')